<!DOCTYPE html>
<html>
<head>
    <title>PayPal</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    {{{ body }}}

</body>
</html>